.login-card {
  width: 30rem;
  margin: 25vh;
  margin-top: 10vh;
  padding-left: 5rem;
  padding-right: 5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: #2a284c 0px 20px 30px -10px;
}

.login-button {
  margin-left: 6rem;
  background: #6059a6;
  border: none;
}

.login-button:hover {
  border: none;
  background: #2a284c;
  transition: linear 0.33s;
}

h4 {
  margin-top: 5rem;
}
